<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
  ul{
    border: 2px solid gray;
    list-style: none;
  }
 
  </style>
</head>
<body>
  <form action="/update" method="POST">
  用户名: <input type="text" name="username"><br><br>
  留言板: <textarea name="message"></textarea><br><br>
  <input type="submit" value="提交">
  </form>
  
  
  
</body>
</html>